header {
    background: #ffffff;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}
/* Estilo para el logo */
header img {
  margin-left: 20px;
}